<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatmap Checker</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        
        <!-- Progress Bar -->
        <div class="progress-container">
            <div class="progress-bar" :style="{ width: progress + '%' }">
                <span class="progress-label">{{ progress.toFixed(2) }}%</span>
            </div>
        </div>
        
        <!-- Container for file input and button -->
        <div class="file-button-container">
            <input type="file" @change="handleFileUpload" accept=".txt" />
            <button @click="loadBeatmapIds">Compare Beatmaps</button>
            <div class="beatmap-count">
                Uncleared: {{ unclearedBeatmaps }}
            </div>
        </div>

        <div class="packs-container"> <!-- Added a new container for packs -->
            <div class="pack-item" v-for="pack in packs" :key="pack.packName">
                <button class="pack-button" 
                        :class="{'red': !areAnyBeatmapsChecked(pack), 'yellow': areSomeBeatmapsChecked(pack), 'green': areAllBeatmapsChecked(pack)}" 
                        @click="toggleBeatmaps(pack)">
                    {{ pack.packName }}
                </button>
                <div class="beatmaps-container" v-if="selectedPack && selectedPack.packName === pack.packName">
                    <div class="beatmap-checkboxes">
                        <label v-for="beatmap in pack.beatmaps" :key="beatmap.beatmap_id">
                            <input type="checkbox" v-model="beatmap.checked" @change="updateProgress">
                            {{ beatmap.beatmap_id }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
